header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* FLEXBOX ================== */

/* .row {
    display: flex;
}

.column {
    background-color: lightcoral;
    padding: 1rem;
    flex: 1;
} */