header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* FLEXBOX ================== */

/* .row {
    display: flex;
}

.column {
    background-color: lightcoral;
    padding: 1rem;
    flex: 1;
} */