header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* FLEXBOX ================== */

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: fit-content;
    max-height: fit-content;
    /* padding: 1rem; */
    background-color: grey;
}

#childDivs {
    background-color: white;
    border: 1px solid black;
    color: #1F2937;
    padding: 1rem;
    box-sizing: border-box;
}

/* CLICK ME BUTTON ============= */

.btnContainer {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

#clickBtn {
    background-color: lightgrey;
}




